/********************(    MAIN   )***********************/
.login {
  width: 100%;
  min-height: 780px;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #212429;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register_content {
  background-color: white;
  width: 40%;
  max-width: 400px;
  min-width: 300px;
  padding: 20px;
  height: 780px;
  border-radius: 5px;
}

.register_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 35px;
  padding-left: 10px;
  margin-bottom: 10px;
  /* background-color: grey; */
}

.title_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register_title h2 {
  margin: 0px 10px;
}

#btn_back {
  margin: 0;
  border: none;
  background-color: white;
}

#btn_back fa-arrow-circle-left {
  font-size: 10px;
}

.register_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.form_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.register_input {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 1px solid rgba(94, 110, 110, 0.424);
}

.register_input:focus {
  outline: 0;
  background: linear-gradient(135deg, rgba(16, 221, 211, 0.1), rgba(2, 165, 230, 0.3));
}

#register_button {
  width: 100%;
  height: 35px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: white;
  background: linear-gradient(135deg, rgba(16, 221, 211, 0.849), rgba(2, 165, 230, 0.87));
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

#register_button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/********************(    BAR    )***********************/
.login::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  background-color: #cccccc;
}

.login::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.login::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555a61;
  /*#d62929;*/
  background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4) 50%, transparent, transparent);
}

/********************(    RESPONSIVE    )***********************/
@media screen and (max-width: 1000px) {
  .register_content {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .register_content {
    width: 80%;
  }
}
/*# sourceMappingURL=signIn.css.map */