.fatherCam_turn,
.fatherCam_mill {
  width: 46%;
  min-width: 350px;
  height: 90%;
  min-height: 560px;
  border: 2px solid #212429;
  border-radius: 5px;
  background-color: white; /*rgba(255, 255, 255, 0.5);*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cam_header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #212429;
  color: white;
}

.cam_header h5 {
  margin: 0;
}

.cam_center {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

/********************(    RESPONSIVE   )***********************/

@media screen and (max-width: 860px) {
  .fatherCam_turn,
  .fatherCam_mill {
    width: 75%;
    margin: 20px 0px;
  }
}
